ul > li {
  list-style: none;
}
.link {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.main-wrap {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 285px;
  height: 100%;
  background-color: #F0F0F0;
  position: relative;
}

.list-links {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}

.list-links > li {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
}

.components {
  width: 100%;
}

.btn-logout {
  position: absolute;
  bottom: 0;
  right: 0;
  outline: none;
  border: none;
  background-color: #F0F0F0;
  color: #000000;
  padding: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

.btn-logout:hover {
  cursor: pointer;
}
